<div class="w-5/6 mx-auto my-8 text-center">
  <p>声優さんをふたり、選んでください。</p>
</div>

<%= form_with(model: @comparison, url: comparisons_show_path, method: :get, local: true, class: 'max-w-sm w-5/6 m-auto my-4 lg:w-full') do |f| %>
  <div class="flex justify-between items-center border-b border-b-2 border-grey-darkest py-2">
    <%= f.collection_select :actor_ids, @actors, :id, :sh_name, { include_blank: nil }, multiple: true, class: "form-control actor_search w-5/6" %>
    <%= f.submit '比較', class: 'ml-2 flex-no-shrink bg-grey-darkest hover:bg-black border-grey-darkest hover:border-black text-sm border-4 text-white py-1 px-2 rounded' %>
  </div>
<% end %>