<nav class="flex items-center justify-between flex-wrap bg-grey-darkest p-4">
  <div class="flex items-center justify-between text-white">
    <div class="flex items-center flex-no-shrink">
      <span class="font-semibold text-xl tracking-tight"><%= link_to 'baker', root_path, class: 'text-white' %></span>
      <p class="ml-2 text-sm">-声優/キャラ/アニメの検索サービス</p>
    </div>
  </div>
  <div>
    <%= link_to 'お問い合わせ', messages_new_path, class: 'text-white mt-4 lg:mt-0' %>
  </div>
</nav>